@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="row">
    <div class="col-md-12">
        <p>
            <h4>Alguns recursos utilizados</h4>
        </p>
        <p>
            <ul>
                <li>Visual Studio 2017 - Versão 15.8.8</li>
                <li>.NET Framework Core 2.1</li>
                <li>Docker</li>
                <li>C#</li>
                <li>Orientação a Objeto</li>
                <li>SOLID</li>
                <li>TDD</li>
                <li>DDD</li>
                <li>Injeção de Dependência</li>
                <li>Razor</li>
                <li>AngularJs</li>
                <li>Web Api</li>
                <li>Swagger</li>
            </ul>
        </p>
    </div>
</div>
