@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    São Cristóvão<br />
    Rio de Janeiro-RJ<br />
    <abbr title="Phone">Celular</abbr>
    (21)99961-9795
</address>

<address>
    <strong>Support:</strong> <a href="mailto:robertosistemas@hotmail.com">robertosistemas@hotmail.com</a><br />
</address>
