@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>CalculaJuros.Web</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
                <a asp-page="/Index" asp-area="Mpa">Cálculo Juros Compostos (Multiple Page Application)</a>
            </p>
            <p>
                <a asp-page="/Index" asp-area="Spa">Cálculo Juros Compostos (Single Page Application)</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <h4>Alguns recursos utilizados</h4>
            </p>
            <p>
                <ul>
                    <li>Visual Studio 2017 - Versão 15.8.8</li>
                    <li>.NET Framework Core 2.1</li>
                    <li>Docker</li>
                    <li>C#</li>
                    <li>Orientação a Objeto</li>
                    <li>SOLID</li>
                    <li>TDD</li>
                    <li>DDD</li>
                    <li>Injeção de Dependência</li>
                    <li>Razor</li>
                    <li>AngularJs</li>
                    <li>Web Api</li>
                    <li>Swagger</li>
                </ul>
            </p>
        </div>
    </div>
</div>